.value-lvl{
  text-align: center;
}

th{
  text-align: center;
}

.table-padding{
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #474443;
    color: #ffffff;
}

.page-title{
  font-family: "Impact", cursive, sans-serif;
  font-size: 4em;
  color: black;
  text-align: center;
}

.page-subheader{
  text-align: center;
}


.table-text{
  font-size: 15px;
}


@media (max-width: 1158px){
  .logo-text a {
  	font-size: 1em !important;
  	font-family: "Impact", Georgia, Serif;
  }
  .navbar-default .navbar-nav > li > a {
 	font-size: 0.7em !important;
    color: white !important;
  	border-bottom: white;
  }
    
}

@media (min-width: 991px){
  .page-title{
  font-size: 3em;  
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    border-top-color: white;
  }

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
   	  background: grey;
      color: white;
      padding: 20px 20px 20px 30px;
	}
  
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #6B6C69;
}
  
  .review-img{
    text-align: center;
    width: 200px !important;
    height: auto;
    margin: auto;
  }
}
.dropdown{
  background: #474443;
}

.navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle .fa-bars {
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: white !important; 
}

.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 0.5px solid white !important;
}

navbar-default{
 border-color: white;  
}

.t3-mainnav{
  border-bottom:  #474443;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
  border-bottom: white;
}
 

.logo a {
  background: #474443 !important;
}

.logo-text a {
  font-size: 16px !important;
  font-family: "Impact", Georgia, Serif;
}

.navbar-default .navbar-nav > li {
color: white;
margin-left: 25px;
font-size: 10px;

}

.navbar-default {
background-color: #474443;
}



.nav-container{
  width: 100% !important;
  overflow: hidden;
}

.dj-image{
  	height: 100% !important;
  	width: 100%;

}

.img-slider{
  height: 35% !important;
  width: 100% !important;
  margin-top: -40px;
  margin-right: -100px;
  overflow: hidden;
 
}






.container{
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  display:block;
  width: 100% !important;
  
}

.t3-wrapper {
  overflow: hidden !important;
  
}

.t3-footer{
  background: white;
  width: 100% !important;
}
