.navbar-default .navbar-nav > li {
margin-left: 30px;
font-size: 10px;
}


.nav-container{
  width: 1400px;
}

.img-slider{
  height: 100%;
  width: 100%;
}

.container{
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
}