navbar-default{
 border-color: #474443;  
}

.t3-mainnav{
  border-bottom: #474443;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
}
 

.logo a {
  background: #474443 !important;
}

.logo-text a {
  font-size: 16px !important;
  font-family: "Impact", Georgia, Serif;
}

.navbar-default .navbar-nav > li {
color: white;
margin-left: 25px;
font-size: 10px;

}

.navbar-default {
background-color: #474443;
}



.nav-container{
  width: 100% !important;
  overflow: hidden;
}

.dj-image{
  	height: 100% !important;
  	width: 100%;

}

.img-slider{
  height: 35% !important;
  width: 100% !important;
  margin-top: -50px;
  margin-right: -100px;
  overflow: hidden;
 


}
table{
  opacity: 0.95 !important;
  width: 85% !important;
}

th, td{
  text-align: center !important;
  padding: 20px !important;
}

.editors-article{
  padding: 2px !important;
  overflow: scroll !important;
  font-size: 1.5em !important;
}




.container{
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  display:block;
  width: 100% !important;
  
}

.t3-wrapper {
  overflow: hidden !important;
  
}

.t3-footer{
  width: 100% !important;
}
